.car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  transition: border, box-shadow .3s;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px 0 rgba(0,0,0, .14);
}
.car:hover {
  border: 1px solid #aaa;
  box-shadow: 0 4px 14px 0 rgba(0,0,0, .25);
  cursor: pointer;
}

.input {
  border: 1px solid black;
}

.input:active {
  outline: none;
}

.input.green {
  border-color: green;
}

.input.red {
  border-color: red;
}

.input.bold {
  font-weight: bold;
}